[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MultiTraits"]
	path = MultiTraits
	url = https://github.com/temp20250212/multitraits
[submodule "PNC"]
	path = PNC
	url = https://github.com/cran/PNC
[submodule "emf"]
	path = emf
	url = https://github.com/cran/emf
